/*log in page*/
.page1-background {
    background-image: url('Images/PUP_Mabini_Campus_-_gate_and_pylon_(close-up)_(PUP,_Santa_Mesa,_Manila)(2018-03-06) copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*inside log-in panel*/
.rounded-panel {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 1600px;
    height: 800px;
    margin-top: 70px;
    margin-left: 155px;
    opacity: 90%;
}
.puplogo {
    position: absolute;
    top: 15%;
    right: 46%;
}
.pup-ace {
    font-family: 'Tahoma';
    font-size: 32px;
    position: absolute;
    top: 27%;
    right: 37%;
}
.sign-in {
    font-family: 'Tahoma';
    font-size: 18px;
    position: absolute;
    top: 35%;
    right: 47.8%;
}
.login-form {
    position: absolute;
    top: 40%;
    right: 52.5%;
}
.terms {
    font-family: 'Tahoma';
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 65%;
    right: 35.8%;
}

/*inputting information when logging in*/
input[type=text], input[type=password] {
    font-family: 'Tahoma';
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 250%;
    padding: 20px 40px;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
}
button {
    background-color: #800000;
    color: #ffffff;
    font-family: 'Tahoma';  
    border-radius: 100px;
    width: 250%;
    padding: 20px 40px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

/*homepage*/
.page2-background {
    margin: 0;
    padding: 0;
    background-color: #dbdada;
}

/*header*/
.logo {
    width: 100px;    
    margin: 20px;
    padding: px;
    cursor: pointer;
}
.title {
    font-family: 'Tahoma';
    font-size: 20px;
    margin-left: 30px;
    color: #ffffff;
}
.header, .logo, .navigation-bar {
    margin: 0;
    padding: 0;
    background-color: #800000;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5c0303;
}
.navigation-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.navigation-bar ul {
    position: -webkit-sticky;
    position: sticky;
    list-style: none;
    font-family: 'Tahoma';
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.navigation-bar li {
    display: inline;
    margin-right: 20px;
}
.navigation-bar a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}
.navigation-bar a:hover, .navigation-bar li:hover {
    color: #242627;
}
.date, .logout {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*body*/
.student-info{
    font-family: 'Tahoma';
    font-size: 18px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}
