/* front */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background Styles */
.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/PUP.jpg);
    background-size: cover;
    background-position: center;
}

.header1 {
    display: flex;
    align-items: center;
}

.navbar img.PUPlogo {
    width: 100px;
    cursor: pointer;
    margin-left: 70px;
}

.navbar a.title1 {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 2; /* Set z-index to a higher value */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 14px 16px;
    display: block;
}

.navbar ul li:hover > a {
    background-color: #800000;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(128, 0, 0, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Container */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #800000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    top: 100%;
    left: -10px;
    width: 220px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #e5e5e5;
    color: #333;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.navbar:hover .content {
    display: none;
}

.content img.AnotherPUPLogo {
    width: 150px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.content img.PUPlogo {
    width: 100px;
    cursor: pointer;
    display: block;
}

.content h1 {
    font-size: 20px;
    margin-top: 20px;
}

/* Button Styles */
.btn #applyButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #800000;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#applySpan {
    background: #800000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.btn #applyButton:hover #applySpan {
    width: 100%;
}

/* Site Footer */
.site-footer {
    background-color: rgba(128, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: sticky;
    color: #fff;
    /* Set text color */
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-footer-links {
    margin: 0;
}

.site-footer-link {
    color: #fff;
    /* Set link color */
    text-decoration: none;
    margin: 0 10px;
}

.site-footer-link:hover {
    text-decoration: underline;
}



/* homepage */
.page2-background {
    margin: 0;
    padding: 0;
    background-position: center;
    background-color: #ebebeb;
    height: 100vh;
}

/* Container for the entire content */
.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

/* header */
.logo {
    width: 60px;
    margin-left: 55px;
}
.title {
    font-size: 18px;
    margin-left: 80px;
    color: #ffffff;
}
.header, .navigation-bar {
    margin: 0;
    padding: 0;
    background-color: #800000;
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5c0303;
}
.navigation-bar {
    position: sticky;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.navigation-bar ul {
    font-size: 15px;
    margin-right: 20px;
    padding: 0;
}
.navigation-bar li {
    display: inline;
    margin-right: 20px;
}
.navigation-bar a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}
.no-hover {
    pointer-events: none;
}
.logout {
    width: 30px;
    height: 30px;
    margin-left: -100px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.dropdown-panel {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #a1a0a0;
    box-shadow: 0 4px 8px 0 #00000033;
    z-index: 1;
    right: 20px;
    top: 50px;
    margin-top: 10px;
    min-width: 160px;
    padding: 10px;
    text-align: left;
}
.dropdown-panel::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 54%;
    border: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #fff transparent;
    transform: translateX(-50%);
}
.dropdown-panel a {
    display: block;
    text-decoration: none;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    transition: background-color 0.2s;
}
.dropdown-panel a:hover {
    background-color: #800000;
    color: #fff;
}

/* body */
.page-body {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 40px;
    opacity: 0.9;
    margin: 10px auto 0 auto;
    max-width: 80%;
    max-height: auto;
    box-shadow: 0 2px 4px #0000001a;
}
.student-info {
    font-size: 18px;
    color: #800000;
    position: relative;
    margin-top: 20px;
    margin-left: 180px;
}
.semester-info {
    font-size: 18px;
    color: #800000;
    position: relative;
    text-align: end;
    margin-top: 10px;
    margin-right: 200px;
}

/* aligning the element to be in fixed position */
.alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* academic status */
.centered-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.academic-status {
    color: #800000;
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
}
.academic-status p {
    width: 300px;
    margin: 15px;
    padding: 15px;
}

/* ACE Dropdown */
/* Style the dropdown container */
#ACE {
    padding: 1px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
#ACE option {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 1px;
}
#selected-ACE {
    margin-top: 10px;
    font-weight: bold;
}

/* all labels */
label {
    display: inline-block;
    font-weight: bold;
    color: #800000;
    margin-bottom: 1px;
    margin-right: 10px;
}

/* Date */
.date {
    margin-right: 70px;
}
label[for="application-date"] {
    display: inline-block;
    font-weight: bold;
    color: #800000;
    text-align: right;
    margin-right: 1px;
}
.calendar-icon {
    width: 25px;
    height: 25px;
    text-align: right;
    margin-left: 5px;
}
.date-output {
    font-weight: bold;
    text-align: right;
    margin-left: 1px;
}

/* Add styling for the table container */
#table-container,
#table-container2 {
    width: 100%;
    max-width: 100%;
    max-height: none;
    overflow: visible;
}

/* Apply styling to the tables */
#myTable,
#toTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#myTable th,
#toTable th,
#myTable td,
#toTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}
#myTable th,
#toTable th {
    background-color: #f2f2f2;
}

/* Style the editable cells when they are focused */
#myTable td[contenteditable="true"]:focus,
#toTable td[contenteditable="true"]:focus {
    outline: 2px solid #800000;
}

/* Style the table headers when they are focused */
#myTable th[contenteditable="true"]:focus,
#toTable th[contenteditable="true"]:focus {
    outline: 2px solid #800000;
}
/* Apply styling to the tables under "Change of Subject" */
#fromTable,
#toTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
#fromTable th,
#toTable th,
#fromTable td,
#toTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}
#fromTable th,
#toTable th {
    background-color: #f2f2f2;
}

/* Style the editable cells when they are focused for both tables */
#fromTable td[contenteditable="true"]:focus,
#toTable td[contenteditable="true"]:focus {
    outline: 2px solid #800000;
}

/* Style the table headers when they are focused for both tables */
#fromTable th[contenteditable="true"]:focus,
#toTable th[contenteditable="true"]:focus {
    outline: 2px solid #800000;
}

/* Style the "Add Row" button for both tables */
#add-row-from,
#add-row-to {
    display: block;
    margin-top: 10px;
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

/* Style the "Add Row" button */
#add-row,
#add-row2 {
    display: block;
    margin-top: 10px;
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 5px 10
}

/*delete row button*/
.delete-row, .delete-row2 {
    background-color: #800000; 
    color: #fff; 
    border: none;
    padding: 3px 3px; 
    border-radius: 10px; 
    font-size: 14px; 
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #800000;
    top: 100%;
    padding: 15px;
    margin-top: 40px;
    border-top: 1px solid #5c0303;
    text-align: right;
    position: sticky;
}
.footer-links {
    color: #ffffff;
    font-family: 'Tahoma';
    font-size: 10px;
    margin: 0 90px;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
footer a:hover {
    text-decoration: underline;
}

/*Pop-up for rules*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(10px);
}
.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    z-index: 1;
}
.close {
    color: #800000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}